.bg-edit-competence{
    background: url("../../illustration/update-competences.svg") no-repeat fixed;
    background-position: left 100px bottom 70px ;
    background-size: 100% 550px;
    height: 550px;
    width: 100%;
}
