html, body {margin: 0; height: 100%; overflow: hidden; background-color: #FCFCFC;} /* hidden scroll */

.version {
    color : white; 
    background-color: #7A58E7;
    font-family: 'Rubik Beastly';
}

